@model Student

<h1>Enroll New Student</h1>
<br/>
<form asp-action="EnrollNewStudent" method="post">
    <div>
        <label asp-for="Name">Student Name</label>
        <input asp-for="Name" class="form-control"/>
    </div>
    <br/>
    @foreach (var course in ViewBag.Courses as List<Course>)
    {
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="@course.CourseId" name="enrolledCourses" value="@course.CourseId" />
            <label class="form-check-label" for="@course.CourseId">@course.Title</label>
        </div>
    }
    <br/>
    <label asp-for="FinancialAid">Financial Aid Status</label>
    <select asp-for="FinancialAid" class="form-control">
        <option value="Passed">Accepted</option>
        <option value="Failed">Denied</option>
    </select>
    <br/>
    <input type="hidden" asp-for="StudentId"/>
    <button type="submit" class="btn btn-primary">Enroll Student</button>
</form>